<div class="text-muted pu-footer d-flex" id="pu-footer">
    <div class="me-auto ms-4" id="pu-version"></div>
    <div class="ms-auto me-4" id="pu-slogan"></div>
</div>


<script>
    (async function () {
        document.getElementById("pu-version").innerText = `PotatoUtils v${puVersion}`

        function isPhone() {
            var info = navigator.userAgent
            var isPhone = /mobile/i.test(info)
            return isPhone
        }

        // hitokoto
        if (!isPhone()) {
            const response = await fetch('https://v1.hitokoto.cn?c=a&c=b&c=c&c=d&c=e&c=f&c=g&c=h&c=i&c=j&c=k&max_length=15')
            const { uuid, hitokoto: hitokotoText } = await response.json()
            const hitokoto = document.getElementById("pu-slogan")
            hitokoto.href = `https://hitokoto.cn/?uuid=${uuid}`
            hitokoto.innerText = hitokotoText
        }


    })()
</script>


<style>
    .pu-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;

        font-size: 1rem;
    }

    body {
        position: relative;
        min-height: 100vh;
        padding-bottom: 2.5rem;
    }

    /* 滚动条样式 */
    ::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: var(--pu-body-bg-color);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #8b8b8b;
        border-radius: 5px;
    }


    ::-webkit-scrollbar-track {
        background-color: var(--pu-body-bg-color);
        border-radius: 5px;
    }
</style>

<!-- 深色模式 -->
<style>
    /* 默认情况下应用浅色样式 */
    body {
        --pu-text: #000;
        --pu-hover: #555;
        --pu-text-muted: #757575;
    }

    /* 深色样式 */
    body.pu-dark {
        --pu-body-bg-color: #222;
        --pu-navbar-bg-color: #282828;
        --pu-card-bg-color: #444;
        --pu-text: #FFF;
        --pu-hover: #D0D0D0;
        --pu-btn-bg-color: #78aaff;
        --pu-btn-bg-color-hover: #aac9ff;
        --pu-text-muted: #a2a2a2;
        --pu-readonly-bg-color: #222222;
    }

    body {
        background-color: var(--pu-body-bg-color);
        color: var(--pu-text);
        transition-duration: 300ms !important;
    }

    .navbar {
        background-color: var(--pu-navbar-bg-color);
        transition-duration: 300ms !important;
    }

    .navbar-brand {
        color: var(--pu-text);
        transition-duration: 300ms !important;
    }

    .navbar-brand:hover {
        color: var(--pu-hover);
        transition-duration: 300ms !important;
    }

    .nav-link {
        color: var(--pu-text);
        transition-duration: 300ms !important;
    }

    .nav-link:hover {
        color: var(--pu-hover);
        transition-duration: 300ms !important;
    }

    .pu-navbar-icon {
        color: var(--pu-text) !important;
        transition-duration: 300ms !important;
    }

    .pu-navbar-icon:hover {
        color: var(--pu-hover) !important;
        transition-duration: 300ms !important;
    }



    .card {
        background-color: var(--pu-card-bg-color);
        transition-duration: 300ms !important;
    }


    .form-label {
        color: var(--pu-text) !important;
        transition-duration: 300ms !important;
    }

    .form-control {
        color: var(--pu-hover) !important;
        transition-duration: 300ms !important;
    }

    .table {
        color: var(--pu-text);
        transition-duration: 300ms !important;
    }

    .btn-outline-secondary {
        color: var(--pu-btn-bg-color);
        transition-duration: 300ms !important;
    }

    .btn-outline-secondary:hover {
        color: var(--pu-btn-bg-color-hover);
        transition-duration: 300ms !important;
    }

    .text-muted {
        color: var(--pu-text-muted) !important;
        transition-duration: 300ms !important;
    }

    .form-control[readonly]{
        background-color: var(--pu-readonly-bg-color) !important;
        transition-duration: 300ms !important;
    }
</style>

<!-- 动画 -->
<style>
    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }

    .pu-button-animation {
        animation-name: pulse;
        animation-duration: 0.5s;
    }
</style>