<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid mt-0 mb-0 ms-2 me-2">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 me-3 mt-lg-0 text-center" href="/">
            Potato Utils
        </a>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/submit">统计</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://akyuu.cn/">关于</a>
                </li>
            </ul>
            <!-- Left links -->
            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <a id="github-icon" data-mdb-toggle="tooltip1" title="Github 仓库" href="https://github.com/">
                    <i class="fa-brands fa-github fa-xl"></i>
                </a>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Collapsible wrapper -->


    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->