<!-- 弃用的模板 -->
<div class="col">
    <div class="card" style="height:100%">
        <div class="card-body d-flex flex-column">
            <h4 class="card-title mb-3">
                <i class="<%= data.icon %>"></i> <%= data.title %>
            </h4>
            <p class="card-text mt-0">
                <%= data.description %>
            </p>
            <div class="mt-auto">
                <button type="button" class="btn btn-primary align-self-end" style="font-size: 15px"
                    onclick="window.location.href=`/utils/<%= data.id %>`">跳转</button>
            </div>
        </div>
    </div>
</div>