<!DOCTYPE html>
<html>

<head>
    <%- include('../../template/head.ejs') %>
        <title>CPS 测试 | <%= sitename%>
        </title>
</head>

<body style="background-color: rgb(251, 251, 251)">

    <header>
        <%- include('../../template/header.ejs') %>
    </header>


    <script>
        var mode = 1
        var click = 0
        var buttonLocked = false
        var intimer = false
        var timer = null
    </script>

    <div class="row d-flex justify-content-center m-3">
        <div class="card" style="max-width: 950px;">
            <div class="card-body">
                <h3 class="card-title mb-3">CPS Tester - 鼠标点击速度测试</h3>
                <p class="card-text m-0">
                    CPS 即 Click Per Second，每秒点击次数。在本页面里有两种测量模式。
                </p>
                <p class="card-text m-0"><b>实时 CPS</b>：根据点击速度实时变化。</p>
                <p class="card-text mt-0"><b>10S 平均值</b>：持续点击十秒，十秒后计算平均值。</p>




            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center m-3">
        <div class="card" style="max-width: 950px;">
            <div class="card-body">

                <h1 id="cpsText" class="card-title text-center">...</h1>
            </div>
            <div class="progress">
                <div id="progress" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="100"
                    aria-valuemin="0" aria-valuemax="100"></div>

            </div>
        </div>
    </div>


    <div class="row d-flex justify-content-center m-3">
        <div class="card" style="max-width: 950px;">
            <div class="card-body">
                <div class="btn-group mb-3" role="group" aria-label="Basic example">
                    <button id="buttonMode1" onclick="buttonMode1()" style="font-size: 15px" type="button"
                        class="btn btn-secondary" data-mdb-color="dark">实时 CPS</button>
                    <button id="buttonMode2" onclick="buttonMode2()" style="font-size: 15px" type="button"
                        class="btn btn-outline-secondary" data-mdb-color="dark">10s 平均值</button>
                </div><br />




                <div class="d-grid gap-2 mb-3" style="height: 200px">
                    <button id="buttonClick" onclick="buttonClick()" style="font-size: 20px" class="btn btn-primary"
                        type="button">Click
                        Here!</button>
                </div>

            </div>
        </div>
    </div>




    <script>
        const githubIcon = document.getElementById('github-icon')
        const tooltip1 = new mdb.Tooltip(githubIcon)
        const blogIcon = document.getElementById('blog-icon')
        const tooltip2 = new mdb.Tooltip(blogIcon)


        function resetCpsText() {
            document.getElementById("cpsText").innerText = "..."
            click = 0
        }

        function resetProgress() {
            if (mode != 2) { return }
            a = document.getElementById("progress")
            a.ariaValueNow = 100
            a.style.width = 100 + "%"
            a.classList = "progress-bar bg-primary"
        }

        function buttonMode1() {
            mode = 1
            document.getElementById("buttonMode2").classList.replace("btn-secondary", "btn-outline-secondary")
            document.getElementById("buttonMode1").classList.replace("btn-outline-secondary", "btn-secondary")
            resetCpsText()

            a = document.getElementById("progress")
            a.ariaValueNow = 0
            a.style.width = 0 + "%"
        }


        function buttonMode2() {
            mode = 2
            document.getElementById("buttonMode2").classList.replace("btn-outline-secondary", "btn-secondary")
            document.getElementById("buttonMode1").classList.replace("btn-secondary", "btn-outline-secondary")
            resetCpsText()
            resetProgress()


        }


        function buttonClick() {

            if (mode == 1) {
                click += 1
                buttonLocked = true
                cpsUpdate()
                setTimeout("click-=1;cpsUpdate()", 1000)

            } else if (mode == 2) {

                click += 1
                document.getElementById("cpsText").innerText = click + " Click(s)"
                if (intimer == false) {
                    timer = setInterval(() => {
                        a = document.getElementById("progress")
                        a.ariaValueNow -= 2.5
                        a.style.width = a.ariaValueNow + "%"
                        var colorLevel = ""
                        if (a.ariaValueNow <= 75) { colorLevel = "success" }
                        if (a.ariaValueNow <= 50) { colorLevel = "warning" }
                        if (a.ariaValueNow <= 25) { colorLevel = "danger" }
                        a.classList = "progress-bar bg-" + colorLevel
                        if (document.getElementById("progress").ariaValueNow == 0) {
                            document.getElementById("buttonClick").setAttribute("disabled", "disabled")
                            document.getElementById("cpsText").innerText = click / 10 + " CPS(Avg.)"
                            click = 0
                            intimer = false
                            document.getElementById("buttonMode2").removeAttribute("disabled")
                            document.getElementById("buttonMode1").removeAttribute("disabled")



                            setTimeout(() => {
                                resetProgress()
                                document.getElementById("buttonClick").removeAttribute("disabled")
                            }, 3000);

                            clearInterval(timer)

                        }

                    }, 250);
                    intimer = true
                    document.getElementById("buttonMode2").setAttribute("disabled", "disabled")
                    document.getElementById("buttonMode1").setAttribute("disabled", "disabled")
                }

            }
        }

        function buttonLockUpdate() {
            if (click != 0) {
                document.getElementById("buttonMode2").setAttribute("disabled", "disabled")
                document.getElementById("buttonMode1").setAttribute("disabled", "disabled")
            } else {
                document.getElementById("buttonMode2").removeAttribute("disabled")
                document.getElementById("buttonMode1").removeAttribute("disabled")
            }
        }

        function cpsUpdate() {

            buttonLockUpdate()
            document.getElementById("cpsText").innerText = click + " CPS"
            a = document.getElementById("progress")
            a.ariaValueNow = click * 5
            a.style.width = click * 5 + "%"
            var colorLevel = ""
            if (click >= 5) { colorLevel = "success" }
            if (click >= 10) { colorLevel = "warning" }
            if (click >= 15) { colorLevel = "danger" }
            a.classList = "progress-bar bg-" + colorLevel
        }

    </script>
</body>

</html>