<!DOCTYPE html>
<html>

<head>
    <%- include('../../template/head.ejs') %>
        <title>强密码生成器 | <%= sitename%>
        </title>
</head>

<body>
    <header>
        <%- include('../../template/header.ejs') %>
    </header>

    <div class="container">

        <div class="row d-flex justify-content-center m-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mb-3">强密码生成器</h3>
                    <p class="card-text mt-0">
                        <a href="https://github.com/Ltfjx/SPG">SPG</a> 的在线版本。
                    </p>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center m-3">
            <div class="card">
                <div class="card-body">
                    <label class="form-label" for="password-length-input">密码长度</label>
                    <div class="range" data-mdb-range-init>
                        <input type="range" class="form-range" id="password-length-input" min="5" max="51" value="20" />
                    </div>

                    <div class="form-outline">
                        <textarea class="form-control" id="password-char-input" rows="1"></textarea>
                        <label class="form-label"
                            for="password-char-input">自定义字符串（默认：ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*）</label>
                    </div>
                </div>
            </div>
        </div>


        <div class="row d-flex justify-content-center m-3">
            <div class="card">
                <div class="card-body">

                    <div class="mb-3">
                        <p class="align-self-center mb-0 font-monospace" id="output"
                            style="font-size: 1.5rem; word-wrap: break-word;">
                            RUA!</p>
                    </div>

                    <div>
                        <button type="button" class="btn btn-outline-success me-1" data-mdb-ripple-init
                            data-mdb-ripple-color="dark" onclick="copy()" id="copy-button">
                            <i class="align-self-center fa-solid fa-copy fa-lg" id="copy-icon"
                                style="transition: opacity 0.5s ease;"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger" data-mdb-ripple-init
                            data-mdb-ripple-color="dark" onclick="update()">
                            <i class="align-self-center fa-solid fa-rotate-right fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <footer>
        <%- include('../../template/footer.ejs') %>
    </footer>


    <script>

        const passwordCharInput = document.getElementById("password-char-input")
        const passwordLengthInput = document.getElementById("password-length-input")
        const output = document.getElementById("output")


        passwordLengthInput.addEventListener("input", () => { update() })
        passwordCharInput.addEventListener("input", () => { update() })
        update()

        function update() {
            const allchar = (passwordCharInput.value != "") ? passwordCharInput.value : "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*"
            let length = passwordLengthInput.value
            let str = ""
            if (length == 51) { length = 3300 }
            for (i = 0; i < length; i++) {
                str += allchar[getRandomNumber(0, allchar.length - 1)]
            }
            output.innerHTML = str
        }

        function getRandomNumber(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function copy() {
            var sourceText = document.getElementById("output")
            var range = document.createRange()
            range.selectNode(sourceText)
            window.getSelection().removeAllRanges()
            window.getSelection().addRange(range)
            document.execCommand("copy")
            window.getSelection().removeAllRanges()

            const icon = document.getElementById("copy-icon")
            icon.classList.remove("fa-copy")
            icon.classList.add("fa-check")

            const copyButton = document.getElementById("copy-button")
            copyButton.addEventListener("mouseleave", function copyButtonRecoverEvent() {
                const icon = document.getElementById("copy-icon")
                icon.classList.add("fa-copy")
                icon.classList.remove("fa-check")
                const copyButton = document.getElementById("copy-button")
                copyButton.removeEventListener("mouseleave", copyButtonRecoverEvent)
            })
        }


    </script>

</body>

</html>