<!DOCTYPE html>
<html>

<head>
    <%- include('../../template/head.ejs') %>
        <title>MC 渐变生成 | <%= sitename%>
        </title>
</head>

<body>

    <header>
        <%- include('../../template/header.ejs') %>
    </header>


    <div class="container">


        <div class="card mt-3">
            <div class="card-body">


                <div class="card text-center ">
                    <div class="card-body">
                        <h3 class="card-title">预览</h3>
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col text-center">
                        <div class="card text-center ">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="card text-center ">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <footer>
        <%- include('../../template/footer.ejs') %>
    </footer>


</body>

</html>