<!DOCTYPE html>
<html>

<head>
    <%- include('../../template/head.ejs') %>
        <title>MC 渐变生成 | <%= sitename%>
        </title>
</head>

<body>

    <header>
        <%- include('../../template/header.ejs') %>
    </header>


    <div class="container">


        <div class="card mt-3">
            <div class="card-body">


                <div class="card text-center ">
                    <div class="card-body">
                        <h3 class="card-title">预览</h3>
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col text-center">
                        <div class="card text-center ">
                            <div class="card-body">
                                <label
                                    class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea mdc-text-field--no-label">
                                    <span class="mdc-notched-outline">
                                        <span class="mdc-notched-outline__leading"></span>
                                        <span class="mdc-notched-outline__trailing"></span>
                                    </span>
                                    <span class="mdc-text-field__resizer">
                                        <textarea class="mdc-text-field__input" rows="8" cols="40"
                                            aria-label="Label"></textarea>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="card text-center ">
                            <div class="card-body">
                                <div class="form-outline">
                                    <input type="text" id="form12" class="form-control" />
                                    <label class="form-label" for="form12">终止颜色</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <footer>
        <%- include('../../template/footer.ejs') %>
    </footer>


</body>

</html>