<!DOCTYPE html>
<html>

<head>
    <%- include('../../template/head.ejs') %>
        <title>AIME 卡号生成器 | <%= sitename%>
        </title>
</head>

<body>
    <header>
        <%- include('../../template/header.ejs') %>
    </header>

    <div class="container">

        <div class="row d-flex justify-content-center m-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mb-3">AIME 卡号生成器</h3>
                    <p class="card-text mt-0">
                        一键生成 AIME 卡号及其数组形式。
                    </p>
                </div>
            </div>
        </div>


        <div class="row d-flex justify-content-center m-3">
            <div class="card">
                <div class="card-body">

                    <div class="mb-3">
                        <div>
                            <div class="align-self-center mb-0 font-monospace" id="output1"
                                style="font-size: 1.5rem; word-wrap: break-word;">
                                RUA!</div>
                        </div>
                        <div>
                            <div class="align-self-center mb-0 font-monospace" id="output2"
                                style="font-size: 1.5rem; word-wrap: break-word;">
                                RUA!</div>
                        </div>
                    </div>

                    <div>
                        <button type="button" class="btn btn-outline-success me-1" data-mdb-ripple-init
                            data-mdb-ripple-color="dark" onclick="copy1()" id="copy-button1">
                            复制卡号
                            <i class="align-self-center fa-solid fa-copy fa-lg" id="copy-icon1"
                                style="transition: opacity 0.5s ease;"></i>
                        </button>
                        <button type="button" class="btn btn-outline-success me-1" data-mdb-ripple-init
                            data-mdb-ripple-color="dark" onclick="copy2()" id="copy-button2">
                            复制数组
                            <i class="align-self-center fa-solid fa-copy fa-lg" id="copy-icon2"
                                style="transition: opacity 0.5s ease;"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger" data-mdb-ripple-init
                            data-mdb-ripple-color="dark" onclick="update()">
                            <i class="align-self-center fa-solid fa-rotate-right fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <footer>
        <%- include('../../template/footer.ejs') %>
    </footer>


    <script>

        const passwordCharInput = document.getElementById("password-char-input")
        const passwordLengthInput = document.getElementById("password-length-input")
        const output1 = document.getElementById("output1")
        const output2 = document.getElementById("output2")

        update()

        function update() {
            const allchar = "0123456789"
            let length = 20
            let str1 = ""
            for (i = 0; i < length; i++) {
                str1 += allchar[getRandomNumber(0, allchar.length - 1)]
            }
            output1.innerHTML = str1

            str2 = ""
            str2 += "{"
            for (let i = 0; i < 10; i++) {
                str2 += parseInt(str1[2 * i] + str1[(2 * i) + 1], 16)
                str2 += ","
            }
            str2 = str2.substring(0, str2.length - 1)
            str2 += "}"
            output2.innerHTML = str2
        }

        function getRandomNumber(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function copy1() {
            var sourceText = document.getElementById("output1")
            var range = document.createRange()
            range.selectNode(sourceText)
            window.getSelection().removeAllRanges()
            window.getSelection().addRange(range)
            document.execCommand("copy")
            window.getSelection().removeAllRanges()

            const icon = document.getElementById("copy-icon1")
            icon.classList.remove("fa-copy")
            icon.classList.add("fa-check")

            const copyButton = document.getElementById("copy-button1")
            copyButton.addEventListener("mouseleave", function copyButtonRecoverEvent() {
                const icon = document.getElementById("copy-icon1")
                icon.classList.add("fa-copy")
                icon.classList.remove("fa-check")
                const copyButton = document.getElementById("copy-button1")
                copyButton.removeEventListener("mouseleave", copyButtonRecoverEvent)
            })
        }
        function copy2() {
            var sourceText = document.getElementById("output2")
            var range = document.createRange()
            range.selectNode(sourceText)
            window.getSelection().removeAllRanges()
            window.getSelection().addRange(range)
            document.execCommand("copy")
            window.getSelection().removeAllRanges()

            const icon = document.getElementById("copy-icon2")
            icon.classList.remove("fa-copy")
            icon.classList.add("fa-check")

            const copyButton = document.getElementById("copy-button2")
            copyButton.addEventListener("mouseleave", function copyButtonRecoverEvent() {
                const icon = document.getElementById("copy-icon2")
                icon.classList.add("fa-copy")
                icon.classList.remove("fa-check")
                const copyButton = document.getElementById("copy-button2")
                copyButton.removeEventListener("mouseleave", copyButtonRecoverEvent)
            })
        }


    </script>

</body>

</html>