<!DOCTYPE html>
<html>

<head>
    <%- include('../template/head.ejs') %>
        <title>HUB | Potato Utils</title>

</head>

<body>
    <header>
        <%- include('../template/header.ejs') %>
    </header>


    <div class="container-md mb-3">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

            <% data.forEach(element=> { %>
                <%- include('index/card.ejs',{"data":element}) %>
            <% }) %>

        </div>

    </div>

    <footer>
        <%- include('../template/footer.ejs') %>
    </footer>

</body>

</html>