<!DOCTYPE html>
<html>

<head>
    <%- include('../../template/head.ejs') %>
        <title>UUID 生成器 | <%= sitename%>
        </title>
</head>

<body>

    <header>
        <%- include('../../template/header.ejs') %>
    </header>




    <div class="row d-flex justify-content-center m-3">
        <div class="card" style="max-width: 950px;">
            <div class="card-body">
                <h3 class="card-title mb-3">UUID 生成器</h3>
                <p class="card-text mt-0">
                    UUID，即通用唯一识别码，是一种用于安全地生成唯一表示信息的算法。<br />
                    此处提供的算法类型为 Version 4 （随机 UUID）<br /><br />
                    详见 <a
                        href="https://zh.wikipedia.org/wiki/%E9%80%9A%E7%94%A8%E5%94%AF%E4%B8%80%E8%AF%86%E5%88%AB%E7%A0%81">维基百科
                        - 通用唯一识别码</a>。
                </p>
                <div>
                    <button id="buttonGenerate" onclick="buttonGenerate()" style="font-size: 15px" type="button"
                        class="btn btn-primary me-1" data-mdb-color="dark">生成</button>
                    <button id="buttonGenerate" onclick="buttonGenerate10x()" style="font-size: 15px" type="button"
                        class="btn btn-primary" data-mdb-color="dark">生成10个</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center m-3">
        <div class="card" style="max-width: 950px;">
            <div class="card-body">
                <p class="align-self-center mb-3 font-monospace" id="output" style="font-size: 1.5rem">
                    00000000-0000-0000-0000-000000000000</p>
                <button type="button" class="btn btn-outline-success" data-mdb-ripple-init data-mdb-ripple-color="dark"
                    onclick="copy()" id="copy-button">
                    <i class="align-self-center fa-solid fa-copy fa-lg" id="copy-icon"
                        style="transition: opacity 0.5s ease;"></i>
            </div>

        </div>
    </div>
    </div>


    <div class="row d-flex justify-content-center m-3">
        <div class="card" style="max-width: 950px;display: none;" id="uuid-10x">
            <div class="card-body">
                <p class="align-self-center mb-3 font-monospace" id="output-10" style="font-size: 1.5rem;"></p>
                <button type="button" class="btn btn-outline-success" data-mdb-ripple-init data-mdb-ripple-color="dark"
                    onclick="copy2()" id="copy2-button">
                    <i class="align-self-center fa-solid fa-copy fa-lg" id="copy2-icon"
                        style="transition: opacity 0.5s ease;"></i>
                </button>
            </div>
        </div>
    </div>





    <script>
        buttonGenerate()

        function buttonGenerate() {
            let e = document.getElementById("output")
            e.classList.remove("active")
            e.innerHTML = crypto.randomUUID()
        }

        function buttonGenerate10x() {
            let e = document.getElementById("output-10")
            e.classList.remove("active")
            let str = ""
            for (i = 0; i < 10; i++) {
                str += crypto.randomUUID()
                str += "\n"
            }
            e.innerText = str
            document.getElementById("uuid-10x").style["display"] = "block"
        }


        function copy() {
            var sourceText = document.getElementById("output")
            var range = document.createRange()
            range.selectNode(sourceText)
            window.getSelection().removeAllRanges()
            window.getSelection().addRange(range)
            document.execCommand("copy")
            window.getSelection().removeAllRanges()

            const icon = document.getElementById("copy-icon")
            icon.classList.remove("fa-copy")
            icon.classList.add("fa-check")

            const copyButton = document.getElementById("copy-button")
            copyButton.addEventListener("mouseleave", function copyButtonRecoverEvent() {
                const icon = document.getElementById("copy-icon")
                icon.classList.add("fa-copy")
                icon.classList.remove("fa-check")
                const copyButton = document.getElementById("copy-button")
                copyButton.removeEventListener("mouseleave", copyButtonRecoverEvent)
            })
        }

        function copy2() {
            var sourceText = document.getElementById("output-10")
            var range = document.createRange()
            range.selectNode(sourceText)
            window.getSelection().removeAllRanges()
            window.getSelection().addRange(range)
            document.execCommand("copy")
            window.getSelection().removeAllRanges()

            const icon = document.getElementById("copy2-icon")
            icon.classList.remove("fa-copy")
            icon.classList.add("fa-check")

            const copyButton = document.getElementById("copy2-button")
            copyButton.addEventListener("mouseleave", function copyButtonRecoverEvent() {
                const icon = document.getElementById("copy2-icon")
                icon.classList.add("fa-copy")
                icon.classList.remove("fa-check")
                const copyButton = document.getElementById("copy2-button")
                copyButton.removeEventListener("mouseleave", copyButtonRecoverEvent)
            })
        }

    </script>


    <footer>
        <%- include('../../template/footer.ejs') %>
    </footer>

</body>

</html>